spring:
  config:
    import:
      - application-keys.yml
      - application-EndPoint.yml
  application:
    name: way.admin

  # PostgreSQL-kubernetis
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${POSTGRESQL_KUBERNETIS_DB_HOST}
    username: ${POSTGRESQL_KUBERNETIS_DB_USER}
    password: ${POSTGRESQL_KUBERNETIS_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      database: postgresql
      hibernate:
        format_sql: true #To beautify or pretty print the SQL
        show_sql: true #show sql
      database-platform: org.hibernate.spatial.dialect.PostgreSQLDialect
#
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail:
        debug: true
        smtp.auth: true
        smtp.timeout: 60000 # 60000ms, 1ë¶„
        smtp.starttls.enable: true
#cloud:
#  aws:
#    s3:
#      bucket: ${AWS_S3_BUCKET_NAME}
#      path:
#        daily: daily_image
#    region:
#      static: ap-northeast-2
#    stack:
#      auto: false
#    credentials:
#      accessKey: ${AWS_S3_ACCESS_KEY}
#      secretKey: ${AWS_S3_SECRET_KEY}

  kafka:
    bootstrap-servers: kafka-service:9092
    template:
      default-topic: follow
    consumer:
      group-id: group-1

  cloud:
    config:
      enabled: false
      import-check:
        enabled: false

config:
  feign:
    post-url: {POST-SERVICE-URL}

springdoc:
  api-docs:
    path: /admin-service/v3/api-docs
  swagger-ui:
    path: /admin-service/swagger-ui.html

jwt:
  secret: ${JWT_SECRET}